/static/aiAttendance/dlib_face_recognition_resnet_model_v1.dat
/static/aiAttendance/shape_predictor_68_face_landmarks.dat
/static/ProfilePictures
/static/Assets/Announcement
/static/Assets/MST Papers
/static/Assets/Notes
/static/Assets/PreviousPapers